<header class="jumbotron col-12">

  <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }"
       ng-if="flash"
       ng-bind="flash.message">
  </div>

  <div class="container">

    <div class="row justify-content-between">

      <div class="d-flex flex-row">
        <div class="container">
          <h1>Hi {{vm.user.firstName}}!</h1>
          <p>You're logged in!!</p>
        </div>
      </div>

      <div class="d-flex flex-row-reverse">
        <p><a href="#!/login" class="btn btn-primary">Logout</a></p>
      </div>

    </div>

  </div>

</header>


<body ng-controller="HomeController">

  <style>
    #sel_week.form-control {height: 32px;}
    #sel_conference.form-control {height: 32px;}
    #sel_division.form-control {height: 32px;}

    #filtered_matchups .btn-group {padding: 5px; height:128px;}
    #individual_matchup .row {background: lightblue; border: 1px solid;}

    #info .row {font-size: 12px; border: 0px solid;}

  </style>


  <div class="col-6 col-sm-4 col-md-3">
    <label for="sel_week">Week:</label>
    <select id="sel_week" class="form-control" ng-init="current_selection.week = seasonweeks[12]" ng-model="current_selection.week" ng-options="o as o for o in seasonweeks"></select>
    <br/>
  </div>

  <div class="col-6 col-sm-4 col-md-3">
    <label for="sel_conference">Conference:</label>
    <select id="sel_conference" class="form-control" ng-init="current_selection.conference = conferences[0]" ng-model="current_selection.conference" ng-options="o as o for o in conferences"></select>
    <br/>
  </div>

  <div class="col-6 col-sm-4 col-md-3">
    <label for="sel_division">Division:</label>
    <select id="sel_division" class="form-control" ng-init="current_selection.division = divisions[0]" ng-model="current_selection.division" ng-options="o as o for o in divisions"></select>
    <br/>
  </div>


<div class="container">

  <div class="row justify-content-center">

    <div class="col-10">

        <div id="filtered_matchups" ng-repeat="game in games.fullgameschedule.gameentry | filter:{week:current_selection.week}:true | filter:selectionFilter">


          <div id="individual_matchup" class="container">

            <div class="row">

              <div class="btn-group w-100" data-toggle="buttons">

                <!-- away team button -->
                <label class="btn btn-primary col-4 w-100 h-100">
                  <input type="radio" name="{{game.id}}" autocomplete="off">
                  <img class="img-fluid w-100 h-100" src="{{teams[game.awayTeam.ID].Logo}}">
                </label>

                <!-- gameentry information -->
                <div id="info" class="col align-self-end">

                  <div class="row justify-content-center">
                    <div class="text-center">{{ teams[game.awayTeam.ID].Abbreviation + ' @ ' + teams[game.homeTeam.ID].Abbreviation}}</div>
                  </div>

                  <div class="row justify-content-center">
                    <div class="text-center">{{ game.time }}</div>
                  </div>

                  <div class="row justify-content-center">
                    <div class="text-center">{{ game.date }}</div>
                  </div>

                  <div class="row justify-content-center">
                    <div class="text-center">{{ teams[game.homeTeam.ID].Stadium.Name }}</div>
                  </div>

                </div>

                <!-- home team button -->
                <label class="btn btn-primary col-4 w-100 h-100">
                  <input type="radio" name="{{game.id}}" autocomplete="off">
                  <img class="img-fluid w-100 h-100" src="{{teams[game.homeTeam.ID].Logo}}">
                </label>

              </div>


            </div>

          </div>

        </div>

      </div>

    </div>

  </div>
<p>{{teams.Stadium}}</p>
</body>

<footer>
  <h2>All registered users:</h2>
  <ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
  </ul>
  <p>&nbsp;</p>
</footer>
