
<div class="row">
   

    <div *ngIf="((awayTeam | async) && (homeTeam | async) && (weather | async)); else loading">
            <div class="col s4">
            <app-team [team]="(awayTeam | async)" (picked)="picked($event)"></app-team>
            
            </div>


            <div class="col s4">
            <app-weather [weather]="(weather | async)"></app-weather>


            <app-animated-container [animState]="anim"></app-animated-container>

                 
            </div>

            <div class="col s4">

             <app-team [team]="(homeTeam| async)" (picked)="picked($event)"></app-team>

            </div>     
    </div>
    
    <ng-template #loading>Waiting...
    </ng-template>

    

</div>


