<div class="card-panel blue-grey darken-3">
<div class="row">
  
    <div *ngIf="((awayTeam | async) && (homeTeam | async) && (weather | async)); else loading">
        <div class="col s4">
            <app-team [team]="(awayTeam | async)"></app-team>
        </div>
        <div class="col s4">
            <app-weather [weather]="(weather | async)"></app-weather>
        </div>
        <div class="col s4">
            <app-team [team]="(homeTeam | async)"></app-team>
        </div>
    </div>
    <ng-template #loading>Waiting...
    </ng-template>

</div>
</div>




