<div id="home-component-container" class="container">
    <h1>Hi {{currentUser.firstName}}!</h1>

    <!-- <app-weather></app-weather> -->
    <p>You're logged in with Angular 2!!</p>


    <div id="games-component-container" *ngIf="teams && games" class="container">

            <div *ngFor="let game of games.fullgameschedule.gameentry | gamePipe:{week: 11}">
                <li>{{game | json}}</li>
            </div>

                  
                  <ng-template #loading>
                    Loading stuff...
                  </ng-template>

    </div>



    <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user.id)">Delete</a>
        </li>
    </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>