<div layout="container"  class="grey darken-1">
    <div class="row">

        <div class="col s2">
            <div class="valign-wrapper">
                <h3>nfl-pickem</h3>
            </div>
        </div>

        <div class="col s9"></div>

        <div class="col s1">
            <span class="left-align">
                <h5>{{currentUser.firstName}}</h5>
            </span>
            <span class="left-align">
                <h6><a [routerLink]="['/login']">Logout</a></h6>
            </span>
        </div>

    </div>
</div>


<div layout="container">
    <div class="row">

        <!-- <app-weather></app-weather> -->
        <div class="col s1">
        <form>
            <!-- Week Selection -->
            <mat-form-field>
                    <mat-select placeholder="Week" [(ngModel)]="selectedWeek" name="theFormsSelectedWeek">
                        <mat-option *ngFor="let week of weeks" [value]="week.selectionValue">
                        {{week.viewSelection}}
                        </mat-option>
                    </mat-select>
                    </mat-form-field>
                    <!-- <p> Selected value: {{selectedWeek}} </p> -->

            <!-- Conference Selection -->
            <mat-form-field>
                    <mat-select placeholder="Conference" [(ngModel)]="selectedConference" name="theFormsSelectedConference">
                        <mat-option *ngFor="let conference of conferences" [value]="conference.selectionValue">
                        {{conference.viewSelection}}
                        </mat-option>
                    </mat-select>
                    </mat-form-field>
                    <!-- <p> Selected value: {{selectedConference}} </p> -->

            <!-- Division Selection -->
            <mat-form-field>
                    <mat-select placeholder="Division" [(ngModel)]="selectedDivision" name="theFormsSelectedDivision">
                        <mat-option *ngFor="let division of divisions" [value]="division.selectionValue">
                        {{division.viewSelection}}
                        </mat-option>
                    </mat-select>
                    </mat-form-field>
                    <!-- <p> Selected value: {{selectedDivision}} </p> -->
            
        </form>
        </div>
    
    
        <div class="col s11">
        <div layout="container">
        
                <div class="row">
        
                    <div class="col s2"></div>
        
                    <div class="col s8">
                        <div *ngIf="teams && season">
                            <div *ngFor="let game of (season | schedulePipe:teams:{week: selectedWeek}:{Conference: selectedConference, Division: selectedDivision})" 
                                role="listitem" guttersize="20" class="game-matchup-card">
                                
                                <mat-card class="card blue-grey darken-1 z-depth-4">
                                    <div class="card-content white-text">
                                        <span class="card-title center-align">{{ game.awayTeam.Name + ' @ ' + game.homeTeam.Name }}</span>
                                    </div>
                                    <div class="card-action">
                                        <span>Radio Buttons</span>
                                    </div>
                                </mat-card>
                                
                            </div>
                        </div>
                    </div>
        
                <div class="col s2"></div>
        
            </div>
            
        </div>
        </div>

    </div>
</div>




<h6>Registered users:</h6>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)">Delete</a>
    </li>
</ul>






